---
import Navbar from "../layouts/Navbar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="404">
  <Navbar />
  <div class="flex flex-col align-center justify-self-center h-full ">
      <h1 class="text-5xl font-bold text-center mb-4 py-11">Page not found 404</h1>
      <h2 class="text-center text-9xl font-bold text-red-600 ">x</h2>
  </div>
</Layout>
<style></style>
