---
import Layout from "../layouts/Layout.astro";
import Navbar from "../layouts/Navbar.astro";
---

<Layout title="Buttons">
  <Navbar />
  <h1 class="text-center font-bold text-4xl py-2 text-slate-300">Buttons Section</h1>
  <div>
  </div>
</Layout>
