---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import ButtonOne from '../components/ButtonOne.astro'
import Navbar from '../layouts/Navbar.astro';
---
<Layout title="Home">
	<Navbar>
	<main >
		<h1>Main title</h1>
		<!-- <ButtonOne title='Buttons'/>
		<ButtonOne title='Cards'/> -->
		</nav>
	</main>
</Layout>


<style>

</style>
