---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>hola</h1>
		<butto class="bg-slate-400 rounded px-2">Buttons section</butto>
	</main>
</Layout>

<style>

</style>
