---
import Layout from "../layouts/Layout.astro";
import Navbar from "../layouts/Navbar.astro";
import GuidedSelector from "../components/Modules/GuidedSelector.astro";
import GuidedSelectorTSX from "../components/Modules/GuidedSelectorTSX";

---

<Layout title="Modules">
  <Navbar />
  <h1 class="text-center font-bold text-4xl py-2 text-slate-300">
    Modules Section
  </h1>
  <!-- <GuidedSelector/> -->
  <GuidedSelectorTSX client:visible/>


</Layout>
