<div>
    <div class="h-100 w-100 flex items-center justify-center">

        <button id="resolutionButton" class="text-2xl text-white  border-4 border-gray-300 rounded-full py-1 w-[170px] flex flex-row items-center justify-center">Display resolution</button> 
    </div>
  
    <script>
      document.addEventListener('DOMContentLoaded', (event) => {
        function showResolution() {
          const width = screen.width;
          const height = screen.height;
          alert(`Resolución de la pantalla: ${width} x ${height} píxeles`);
        }
  
        const button = document.getElementById('resolutionButton');
        if (button) {
          button.addEventListener('click', showResolution);
        } else {
          console.error('El botón con id "resolutionButton" no se encontró.');
        }
      });
    </script>
  </div>
  