---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title> <!-- the title that we provide when we call "Layout will appear here" -->
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
      html {
        font-family: system-ui, sans-serif;
        background: #13151a;
        /* background-size: 224px; */
        color-scheme: dark light; /* queremos utilizar el modo oscuro y por defecto los colores se adecuen a ese tema */
      }
</style>
