---
import ButtonOne from '../components/ButtonOne.astro'
import AppLogo from '../components/AppLogo.astro'

---
<nav class="bg-slate-800 py-4 flex items-center gap-4 px-4 ">
    <AppLogo/>
    <ButtonOne className="" title='Buttons'/>
    <ButtonOne title='Cards'/>
    <ButtonOne title='Funtionality components'/>
    
    
</nav>